---
layout: default2
title: Tải Tài Liệu
---


<div id="core">
        <div class="c-container">
            <div class="row">

                <!-- MIDDLE COLUMN : begin -->
                <div class="middle-column col-md-6 col-md-push-3">

                    <!-- PAGE HEADER : begin -->
{% include pageheader.html %}
                    <!-- PAGE HEADER : end -->

                    <!-- PAGE CONTENT : begin -->
                    <div id="page-content">
                        <div class="page-content-inner">

                            <!-- DOCUMENT LIST PAGE : begin -->
                            <div class="document-page document-list-page">
                                <div class="c-content-box">
                                    <ul class="document-list m-has-icons">

                                        <!-- DOCUMENT : begin -->
                                        {% for i in site.data.documents %}
                                        {% if i.type == "pdf" %}
                                        {% assign type = "fa-file-pdf-o" %}
                                        {% else if  i.type == "word" %}
                                        {% assign type = "fa-file-word-o" %}
                                        {% else if  i.type == "excel" %}
                                        {% assign type = "fa-file-excel-o" %}
                                        {% else%}
                                        {% assign type = "" %}
                                        {% endif %}
                                        <li class="document">
                                            <div class="document-inner">

                                                <!-- DOCUMENT TITLE : begin -->
                                                <h4 class="document-title m-has-icon">
                                                    <span class="document-icon" title="{{type}}"><i class="fa {{type}}"></i></span>
                                                    <a href="documents/dummy-document2.pdf" target="_blank">{{i.name}}</a>
                                                    <span class="document-filesize">({{i.size}})</span>
                                                </h4>
                                                <!-- DOCUMENT TITLE : end -->

                                                <!-- DOCUMENT INFO : begin -->
                                                <div class="document-info">
                                                    <ul>
                                                        <li class="document-date">Ngày tải lên: <span> {{i.time}}</span></li>
                                                    </ul>
                                                </div>
                                                <!-- DOCUMENT INFO : end -->

                                            </div>
                                        </li>
                                        {% endfor %}
                                        <!-- DOCUMENT : end -->


                                    </ul>
                                </div>
                            </div>
                            <!-- DOCUMENT LIST PAGE : end -->

                            <!-- PAGINATION : begin -->
                            <div class="c-pagination">
                                <ul>
                                    <li class="m-active"><a href="post-list.html">1</a></li>
                                    <li><a href="post-list.html">2</a></li>
                                    <li><a href="post-list.html">3</a></li>
                                </ul>
                            </div>

                            
                            <!-- PAGINATION : end -->

                        </div>

                      
                                
                    </div>
                    <!-- PAGE CONTENT : end -->

                    <hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

                </div>
                <!-- MIDDLE COLUMN : end -->

                <!-- LEFT COLUMN : begin -->
                <div class="left-column col-md-3 col-md-pull-6">

                    <!-- SIDE MENU : begin -->
                    {% include sidemenu.html %}
                    <!-- SIDE MENU : end -->

                    <!-- LEFT SIDEBAR : begin -->
                    <aside class="sidebar">
                        <div class="widget-list">

                            <!-- FEATURED GALLERY WIDGET : begin -->
                            {% include featuredgallery.html %}
                            <!-- FEATURED GALLERY WIDGET : end -->

                        </div>
                    </aside>
                    <!-- LEFT SIDEBAR : end -->

                </div>
                <!-- LEFT COLUMN : end -->

                <!-- RIGHT COLUMN : begin -->
                <div class="right-column col-md-3">

                    <!-- RIGHT SIDEBAR : begin -->
                    <aside class="sidebar">
                        <div class="widget-list">

                            <!-- CATEGORIES WIDGET : begin -->
                            <div class="widget categories-widget">
                                <div class="widget-inner">
                                    <h3 class="widget-title m-has-ico">
                                    <i class="widget-ico tp tp-list4"></i>Categories</h3>
                                    <div class="widget-content">
                                        <ul>
                                            <li><a href="document-list.html">Animal Control</a> (1)</li>
                                            <li><a href="document-list.html">Council Agenda</a> (3)</li>
                                            <li><a href="document-list.html">Policies</a> (3)</li>
                                            <li><a href="document-list.html">Town Contracts</a> (3)</li>
                                            <li><a href="document-list.html">Town Report</a> (1)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- CATEGORIES WIDGET : end -->

                            <!-- NOTICES WIDGET : begin -->
                            {% include notices.html %}
                            <!-- NOTICES WIDGET : end -->

                        </div>
                    </aside>
                    <!-- RIGHT SIDEBAR : end -->

                </div>
                <!-- RIGHT COLUMN : end -->

            </div>
        </div>
    </div>

