---
layout: default
title: Cổng thông tin xã Quỳnh Đôi, Quỳnh Lưu, Nghệ An
---
		<div class="header-bg">

			<!-- HEADER IMAGE : begin -->
			<!-- To add more images just copy and edit elements with "image-layer" class (see home-2.html template for example)
			Change autoplay speed with "data-autoplay" attribute (in seconds), works only if there are more than one image -->
			<div class="header-image" data-autoplay="8">
				<div class="image-layer" style="background-image: url( 'images/header-01.jpg' );"></div>
				<!-- div class="image-layer" style="background-image: url( 'images/header-02.jpg' );"></div -->
			</div>
			<!-- HEADER IMAGE : begin -->

		</div>



		<div id="core">
			<div class="c-container">
				<div class="row">

					<!-- MIDDLE COLUMN : begin -->
					<div class="middle-column col-md-6 col-md-push-3">

						<!-- PAGE HEADER : begin -->
						<div id="page-header">

							<!-- PAGE TITLE : begin -->
							<div class="page-title">
								<h1>Chào mừng tới xaquynhdoi.com,<br><em>trang web chính thức của xã Quỳnh Đôi!</em></h1>
							</div>
							<!-- PAGE TITLE : end -->

						</div>
						<!-- PAGE HEADER : end -->

						<!-- PAGE CONTENT : begin -->
						<div id="page-content">
							<div class="page-content-inner">

								<!-- DIRECTORY : begin -->
								<!-- You can choose to have 2, 3 or 4 columns in Directory element.
								To change the number of columns, change the class in the following element from m-3-columns to m-2-columns or m-4-columns -->
								{% include directory.html %}
								<!-- DIRECTORY : end -->

								<!-- POST LIST : begin -->
								<div class="c-post-list m-has-icon">
									<div class="c-content-box">
										<div class="post-list-inner">
											<i class="ico-shadow tp tp-reading"></i>
											<h2 class="post-list-title"><i class="ico tp tp-reading"></i><a href="post-list.html">Tin tức <strong>Quỳnh Đôi</strong></a></h2>
											<div class="post-list-content">

												<!-- FEATURED POST : begin -->
												<article class="featured-post m-has-thumb">
													<div class="post-image">
														<a href="post-detail.html"><img src="images/post-01-cropped.jpg" alt=""></a>
													</div>
													<div class="post-core">
														<h3 class="post-title">
															<a href="post-detail.html">Khai mạc giải bóng đá Quỳnh Đôi</a>
														</h3>
														<div class="post-date"><i class="ico tp tp-clock2"></i>23 tháng 2, 2015</div>
														<div class="post-excerpt">
															<p>Giải vô địch bóng đá các câu lạc bộ thế giới, trước đây được gọi là FIFA Club World Championship, là 1 giải đấu bóng đá quốc tế dành cho nam được tổ chức bởi Liên đoàn bóng đá thế giới, cơ quan quản lý bóng đá toàn cầu. Giải đấu lần đầu tiên được tổ chức với tên gọi Giải vô địch bóng đá thế giới các câu lạc bộ 2000</p>
														</div>
													</div>
												</article>
												<!-- FEATURED POST : end -->

												<!-- POST : begin -->
												<article class="post">
													<h3 class="post-title">
														<a href="post-detail.html">Tin tức khác 1</a>
													</h3>
													<div class="post-date">July 6, 2015</div>
												</article>
												<!-- POST : end -->

												<!-- POST : begin -->
												<article class="post">
													<h3 class="post-title">
														<a href="post-detail.html">Tin tức khác 2</a>
													</h3>
													<div class="post-date">June 15, 2015</div>
												</article>
												<!-- POST : end -->

												<!-- POST : begin -->
												<article class="post">
													<h3 class="post-title">
														<a href="post-detail.html">Tin tức khác 3</a>
													</h3>
													<div class="post-date">June 2, 2015</div>
												</article>
												<!-- POST : end -->

												<!-- POST : begin -->
												<article class="post">
													<h3 class="post-title">
														<a href="post-detail.html">Tin tức khác 4</a>
													</h3>
													<div class="post-date">May 14, 2015</div>
												</article>
												<!-- POST : end -->

												<p class="more-btn-holder"><a href="post-list.html">Xem tất cả bài viết</a></p>

											</div>
										</div>
									</div>
								</div>
								<!-- POST LIST : end -->

							</div>
						</div>
						<!-- PAGE CONTENT : end -->

						<hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

					</div>
					<!-- MIDDLE COLUMN : end -->

					<!-- LEFT COLUMN : begin -->
					<div class="left-column col-md-3 col-md-pull-6">

						<!-- SIDE MENU : begin -->
						{% include sidemenu.html %}
						<!-- SIDE MENU : end -->

						<!-- LEFT SIDEBAR : begin -->
						<aside class="sidebar">
							<div class="widget-list">

								<!-- DOCUMENTS WIDGET : begin -->
								{% include documents_widget.html %}

								<!-- DOCUMENTS WIDGET : end -->

								<!-- LOCALE INFO WIDGET : begin -->
								<!-- to remove background image from this widget, simply remove "m-has-bg" class from the following element -->
								<div class="widget locale-info-widget m-has-bg">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-map-marker"></i>Xã Quỳnh Đôi</h3>
										<div class="widget-content">
											<ul>
												<li>
													<div class="row-title"><h4>Quốc gia</h4></div>
													<div class="row-value">Việt Nam</div>
												</li>
												<li>
													<div class="row-title"><h4>Tỉnh</h4></div>
													<div class="row-value">Nghệ An</div>
												</li>
												<li>
													<div class="row-title"><h4>Huyện</h4></div>
													<div class="row-value">Quỳnh Lưu</div>
												</li>
												<li>
													<div class="row-title"><h4>Diện tích</h4></div>
													<div class="row-value">399,19 ha (3.99 km<sup>2</sup>)</div>
												</li>
												<li>
													<div class="row-title"><h4>Dân số</h4></div>
													<div class="row-value"> 4.900</div>
												</li>
										
											</ul>
            							</div>
									</div>
								</div>
								<!-- LOCALE INFO WIDGET : end -->

								<!-- FEATURED GALLERY WIDGET : begin -->
								{% include featuredgallery.html %}
								<!-- FEATURED GALLERY WIDGET : end -->

							</div>
						</aside>
						<!-- LEFT SIDEBAR : end -->

					</div>
					<!-- LEFT COLUMN : end -->

					<!-- RIGHT COLUMN : begin -->
					<div class="right-column col-md-3">

						<!-- RIGHT SIDEBAR : begin -->
						<aside class="sidebar">
							<div class="widget-list">

								<!-- NOTICES WIDGET : begin -->
								{% include notices.html %}
								<!-- NOTICES WIDGET : end -->

								<!-- IMAGE WIDGET : begin -->
								<div class="widget image-widget">
									<div class="widget-inner">
										<div class="widget-content">
											<a href="#"><img src="images/poster-01.jpg" alt=""></a>
										</div>
									</div>
								</div>
								<!-- IMAGE WIDGET : end -->

								<!-- EVENTS WIDGET : begin -->
								<div class="widget events-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-calendar-full"></i>Sự kiện sắp tới</h3>
										<div class="widget-content">
											<ul class="event-list">

												<!-- EVENT : begin -->
												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="June 3, 2016">
															<span class="event-month">Tháng 4</span>
															<span class="event-day">3</span>
														</div>
														<h4 class="event-title"><a href="event-detail.html">Văn nghệ mừng đại lễ 30/4 - 1/5</a></h4>
													</div>
												</li>
												<!-- EVENT : end -->

												<!-- EVENT : begin -->
												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="June 24, 2016">
															<span class="event-month">Tháng 4</span>
															<span class="event-day">24</span>
														</div>
														<h4 class="event-title"><a href="event-detail.html"> Lễ khai bút đầu xuân!</a></h4>
													</div>
												</li>
												<!-- EVENT : end -->

												<!-- EVENT : begin -->
												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="July 9, 2016">
															<span class="event-month">Tháng 4</span>
															<span class="event-day">9</span>
														</div>
														<h4 class="event-title"><a href="event-detail.html">Chung kết giải bóng chuyền</a></h4>
													</div>
												</li>
												<!-- EVENT : end -->

												<!-- EVENT : begin -->
												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="July 15, 2016">
															<span class="event-month">Tháng 4</span>
															<span class="event-day">15</span>
														</div>
														<h4 class="event-title"><a href="event-detail.html">Sự kiện 4</a></h4>
													</div>
												</li>
												<!-- EVENT : end -->

											</ul>
											<p class="show-all-btn"><a href="event-list.html">Xem tất cả sự kiện</a></p>
										</div>
									</div>
								</div>
								<!-- EVENTS WIDGET : end -->

							</div>
						</aside>
						<!-- RIGHT SIDEBAR : end -->

					</div>
					<!-- RIGHT COLUMN : end -->

				</div>
			</div>
		</div>