---
layout: default2
title: UBND Xã Quỳnh Đôi
---


<div id="core">
        <div class="c-container">
            <div class="row">

                <!-- MIDDLE COLUMN : begin -->
                <div class="middle-column col-md-9 col-md-push-3">

                    <!-- PAGE HEADER : begin -->
                    {% include pageheader.html %}
                    <!-- PAGE HEADER : end -->

                    <!-- PAGE CONTENT : begin -->
                    <div id="page-content">
                        <div class="page-content-inner">

                            <!-- GMAP : begin -->
                            <!-- Add your address into "data-address" attribute
                            Change zoom level with "data-zoom" attribute, bigger number = bigger zoom
                            Change map type with "data-maptype" attribute, values: roadmap | terrain | hybrid | satellite
                            API KEY IS REQUIRED! More info https://developers.google.com/maps/documentation/javascript/get-api-key -->

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10936.759281976954!2d105.67260223913334!3d19.151158485735138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313771490265c99f%3A0x94d7b5ae5241f0fa!2zUXXhu7NuaCDEkMO0aSwgVHguIEhvw6BuZyBNYWksIE5naOG7hyBBbiwgVmnhu4d0IE5hbQ!5e1!3m2!1svi!2s!4v1556091263665!5m2!1svi!2s" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                            <!-- GMAP : end -->

                            <div class="row">
                                <div class="col-md-6">

                                    <!-- FEATURE : begin -->
                                    <div class="c-feature">
                                        <div class="c-content-box">
                                            <div class="feature-inner">
                                                <i class="feature-icon tp tp-flag"></i>
                                                <h3 class="feature-title">TownPress Offices</h3>
                                                <div class="feature-content">
                                                    <p>132 Main Street<br>
                                                    TownPress, VT 13245<br>
                                                    Phone: (123) 456-7890<br>
                                                    Email: <a href="#">townhall@townpress.gov</a><br>
                                                    Hours: Monday &ndash; Friday 8:00 a.m. &ndash; 5:00 p.m</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FEATURE : end -->

                                    <!-- FEATURE : begin -->
                                    <div class="c-feature">
                                        <div class="c-content-box">
                                            <div class="feature-inner">
                                                <i class="feature-icon tp tp-fire"></i>
                                                <h3 class="feature-title">Fire Department</h3>
                                                <div class="feature-content">
                                                    <p>Fire Chief: Avidan Leon<br>
                                                    159 West Street<br>
                                                    TownPress, VT 13245<br>
                                                    Emergency: 911<br>
                                                    Phone: (123) 456-7892</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FEATURE : end -->

                                </div>
                                <div class="col-md-6">

                                    <!-- FEATURE : begin -->
                                    <div class="c-feature">
                                        <div class="c-content-box">
                                            <div class="feature-inner">
                                                <i class="feature-icon tp tp-shield"></i>
                                                <h3 class="feature-title">Police Department</h3>
                                                <div class="feature-content">
                                                    <p>Chief of Police: Savino Auberon<br>
                                                    576 South Street<br>
                                                    TownPress, VT 13245<br>
                                                    Emergency: 911<br>
                                                    Phone: (123) 456-7891</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FEATURE : end -->

                                    <!-- FEATURE : begin -->
                                    <div class="c-feature">
                                        <div class="c-content-box">
                                            <div class="feature-inner">
                                                <i class="feature-icon tp tp-library2"></i>
                                                <h3 class="feature-title">TownPress Library</h3>
                                                <div class="feature-content">
                                                    <p>753 North Street<br>
                                                    TownPress, VT 13245<br>
                                                    Phone: (123) 456-7891<br>
                                                    Email: <a href="#">library@townpress.gov</a><br>
                                                    Hours: Monday &ndash; Friday 8:00 a.m. &ndash; 5:00 p.m.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FEATURE : end -->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- PAGE CONTENT : end -->

                    <hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

                </div>
                <!-- MIDDLE COLUMN : end -->

                <!-- LEFT COLUMN : begin -->
                <div class="left-column col-md-3 col-md-pull-9">

                    <!-- SIDE MENU : begin -->
    {% include sidemenu.html %}
                    <!-- SIDE MENU : end -->

                    <!-- LEFT SIDEBAR : begin -->
                    <aside class="sidebar">
                        <div class="widget-list">

                            <!-- FEATURED GALLERY WIDGET : begin -->
                            {% include featuredgallery.html %}
            
                            <!-- FEATURED GALLERY WIDGET : end -->

                            <!-- DOCUMENTS WIDGET : begin -->
                        {% include documents_widget.html %}
                            <!-- DOCUMENTS WIDGET : end -->

                        </div>
                    </aside>
                    <!-- LEFT SIDEBAR : end -->

                </div>
                <!-- LEFT COLUMN : end -->

            </div>
        </div>
    </div>