		<!-- If you want to use Standard Header Menu, add "m-has-standard-menu" class to the following element (see home-2.html template for example)
		Remove "m-has-gmap" class if you are not using Google Map in this template -->
		<header id="header" class="m-has-header-tools m-has-gmap">
			<div class="header-inner">

				<!-- HEADER CONTENT : begin -->
				<div class="header-content">
					<div class="c-container">
						<div class="header-content-inner">

							<!-- HEADER BRANDING : begin -->
							<!-- Logo dimensions can be changed in library/css/custom.css
							You can remove "m-large-logo" class from following element to use standard (smaller) version of logo -->
							<div class="header-branding m-large-logo">
								<a href="index.html"><span>
									<img src="images/header-logo.png"
										data-hires="images/header-logo.2x.png"
										alt="TownPress - Municipality HTML Template">
								</span></a>
							</div>
							<!-- HEADER BRANDING : end -->

							<!-- HEADER TOGGLE HOLDER : begin -->
							<div class="header-toggle-holder">

								<!-- HEADER TOGGLE : begin -->
								<button type="button" class="header-toggle">
									<i class="ico-open tp tp-menu"></i>
									<i class="ico-close tp tp-cross"></i>
									<span>Menu</span>
								</button>
								<!-- HEADER TOGGLE : end -->

								<!-- HEADER GMAP SWITCHER : begin -->
								
								
								<!-- HEADER GMAP SWITCHER : end -->

							</div>
							<!-- HEADER TOGGLE HOLDER : end -->

							<!-- HEADER MENU : begin -->
							<!-- This menu is used as both mobile menu (displayed on devices with screen width < 991px)
							and standard header menu (only if Header element has "m-has-standard-menu" class) -->
							<nav class="header-menu">
								<ul>
									<li><a href="index.html">Home</a>
										<ul>
											<li><a href="index.html">Home 1</a></li>
											<li><a href="home-2.html">Home 2</a></li>
										</ul>
									</li>
									<li><a href="town-hall.html">Government</a>
										<ul>
											<li><a href="town-hall.html">Town Hall</a></li>
											<li><a href="town-council.html">Town Council</a></li>
											<li><a href="phone-numbers.html">Phone Numbers</a></li>
											<li><a href="document-list.html">Documents</a></li>
											<li><a href="contact.html">Write To Mayor</a></li>
										</ul>
									</li>
									<li><a href="post-list.html">Community</a>
										<ul>
											<li><a href="post-list.html">News</a></li>
											<li><a href="notice-list.html">Notices</a></li>
											<li><a href="event-list.html">Events</a></li>
											<li><a href="gallery-list.html">Galleries</a></li>
										</ul>
									</li>
									<li><a href="statistics.html">Pages</a>
										<ul>
											<li><a href="statistics.html">Statistics</a></li>
											<li><a href="virtual-tour.html">Virtual Tour</a></li>
											<li><a href="town-history.html">Town History</a></li>
											<li><a href="elements.html">Elements</a></li>
										</ul>
									</li>
								</ul>
							</nav>
							<!-- HEADER MENU : end -->

							<!-- HEADER TOOLS : begin -->
							<div class="header-tools">

								<!-- HEADER SEARCH : begin -->
								{% include search.html %}


								<!-- HEADER SEARCH : end -->

							</div>
							<!-- HEADER TOOLS : end -->

						</div>
					</div>
				</div>
				<!-- HEADER CONTENT : end -->

			</div>
		</header>