
								<div class="widget notices-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-bullhorn"></i>Thông báo</h3>
										<div class="widget-content">
											<ul class="notice-list">

												<!-- NOTICE : begin -->
												<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="notice-detail.html">Lịch tiêm chủng cho trẻ em</a></h4>
														<span class="notice-date">14/9/2019</span>
													</div>
												</li>
												<!-- NOTICE : end -->

												<!-- NOTICE : begin -->
												<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="notice-detail.html">Giải bóng đá Quỳnh Đôi</a></h4>
														<span class="notice-date">15/9/2019</span>
													</div>
												</li>
												<!-- NOTICE : end -->

												<!-- NOTICE : begin -->
												<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="notice-detail.html">Thông báo số 3</a></h4>
														<span class="notice-date">15/9/2019</span>
													</div>
												</li>
												<!-- NOTICE : end -->

												<!-- NOTICE : begin -->
												<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="notice-detail.html">Thông báo số 4</a></h4>
														<span class="notice-date">15/9/2019</span>
													</div>
												</li>
												<!-- NOTICE : end -->

											</ul>
											<p class="show-all-btn"><a href="notice-list.html">Xem tất cả thông báo</a></p>
										</div>
									</div>
								</div>